<div class="modal-header bg-primary">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancelar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{titulo}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <label class="col-sm-12 control-label"><h4 align="center"><strong>{{pregunta}}</strong></h4></label>
        </div>                    
    </div>                   
</div>
<div class="modal-footer bg-default">
    <button class="btn btn-primary" ng-click="aceptar()"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelar()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
</div>
